#root>div>h3{
    color:#ff0c00cc;
    width:770px;
    margin:20px auto;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 a{
     cursor: pointer;
 }
 .settle-list{
     list-style: none;
     border:2px solid rgb(207, 207, 207);
     padding:10px;
     width:750px;
     margin:0 auto;
     .settle-list-head{
         height:40px;
         padding:0 30px;
         span{
             text-align:center;
             display:inline-block;
             &:nth-child(1){
                 width:250px;
                 margin-right:30px;
             }
             &:nth-child(2){
                 width:100px;
             }
             &:nth-child(3){
                width:200px;
             }
             &:nth-child(4){
                 width:100px;
             }
         }
     }
    li{
        padding:5px 5px;
        border-bottom:1px dashed rgb(167, 162, 162);
        overflow:hidden;
    }

     li:nth-child(1){
        border-bottom:1px solid rgb(167, 162, 162);
     }
     
     .settle-account{
         margin:20px 30px;
         span{
             text-align:center;
             display:inline-block;
            &:nth-child(1){
                color:rgb(231, 146, 49);
                width:100px;
            }
            &:nth-child(2){
                color:rgba(224, 65, 65, 0.938);
                float:right;
                width:100px;
            }
         }
         
     }
 }
 .settle-item{
     margin:20px 30px;
     &>div{
         float:left;
         text-align:center;
     }
     .settle-item-desc{
         width:250px;
         margin-right:30px;
     }
     .settle-item-price{
         width:100px;
     }
     .settle-item-pic{
        width:80px;
        height:80px;
        display:block;
        float:left;
     }
     .settle-item-name{
        margin-left:90px;
        width:150px;
     }

    .settle-item-control{
         display:flex;
         justify-content: center;
         text-align:center;
         height:25px;
         width:200px;
         a,div{
             padding:4px;
             width:16px;
             text-align:center;
         }
         a{
             border:1px dotted rgb(170, 170, 170);
             background-color:rgb(247, 242, 242);
         }
         div{
             width:50px;
             border-top:1px dotted rgb(170, 170, 170);
             border-bottom:1px dotted rgb(170, 170, 170);
         }
    }
    .settle-item-account{
        width:100px;
    }
 }