
a{
  text-decoration: none;
  cursor: pointer;
  color:black;
}

.nav{
  position:fixed;
  right:10px;
  top:200px;
  padding:5px 0;
  background-color:rgb(152, 51, 235);
}

.nav a{
  display:block;
  color:white;
  line-height:20px;
  height:20px;
  padding:5px 10px;
}
.nav a.active{
  background-color:rgb(117, 7, 207);
}